<ion-content padding center>
    <div text-center>
        <img style=" width: 250px; height: 250px;" src="assets/imgs/logo.png">
    </div>
    <br>
<h2 text-center>Guides</h2>
<br>
<br>
  <ion-list>
    <ion-item>
       <ion-label><ion-icon name="mail"></ion-icon></ion-label> <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="email" ></ion-input>
     
    </ion-item>
  
    <!-- <div style="margin-left:17px" class="invalido" *ngIf="emailExiste==false">Email doesn't exist</div> -->

    <br>
    <ion-item>
        <ion-label><ion-icon name="lock"></ion-icon></ion-label><ion-input placeholder="Password" type="password" name="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <br>
  <button ion-button full [disabled]="email=='' || password==''" (click)="loguearse()">SIGN IN</button>
  <br>
  
  <div style="margin-left:17px" class="invalido" *ngIf="loginSuccess==false">Wrong email/password or  internal server error</div>

 
</ion-content>
